<div style="text-align: center; background-color: #262626;">
  <h2 mat-dialog-title style="padding: 10px 0 8px 0; color: var(--text-white)">Thay đổi ảnh đại diện</h2>
  <mat-divider></mat-divider>
  <button mat-button class="w-100" style="height: 48px; color: #0095F6">Tải ảnh lên</button>
  <mat-divider></mat-divider>
  <button mat-button class="w-100" style="height: 48px; color: #ED4956">Gỡ ảnh hiện tại</button>
  <mat-divider></mat-divider>
  <button mat-button class="w-100" style="height: 48px; color: var(--text-white)" mat-dialog-close>Hủy</button>
</div>
